/* ---- Navigation ---- */
.name {
  font-size: 2.5em;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 1em;
  text-align: ;
  
}

.main-header {
background: gainsboro;
    
    position: fixed;
    top:-1px;
    left:-2px;
    box-shadow: 0 1px 50px rgba(0,0,0,.4);
    width:100%;
}

.main-nav li {
  list-style-type: none;
  display: block;
  text-align: ;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 1em;
  background: goldenrod;
  border-radius: 12px;
  font-size: 1.5em;
  font-family: open sans;
  font-weight: bold;
}

.main-nav a {
  color: whitesmoke;
  
}

.main-nav a:hover {
	color: slategrey;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  border-radius: 12px;
}

a:link {
    text-decoration: none;
}

.main-nav {
  width: ;
}

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: "Open Sans";
    color: black;
    line-height: 1.8;
    font-size: 1em;   
}

p:first-of-type:first-line {
	font-size: 1.25em;
}

h1 {
  color: darkslategray;
  font-size: 2em;
  font-family: ;
  line-height: .9;
}

ol {
  color: goldenrod;
  font-size: 24px;
  font-weight: bold;
  line-height: .9;
}

dd {
    	font-size: 16px;
    	line-height: 1.8;
    	font-weight: normal;
   	color: darkslategray;
   	margin: auto;
}

.name a,
.main-nav a {
  	padding: 1px 20px;
  	display: block;
}

img {
    	 margin: auto;
    	 width: 100%;
   	 display: block;
   	 margin-left: auto;
   	 margin-right: auto;
   	 margin-bottom: 1em;
   	 margin-top: 1em;
}

/* ---- Layout Containers ---- */

.container {
  	padding-left: 1em;
  	padding-right: 1em;
  
}

.main-header {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 30px;
}

.main-footer {
	padding: 1px 0;
    	position: fixed;
    	bottom:0;
    	left: -2px;
    	width:102%;
	background: gainsboro;
  	box-shadow: 0 -1px 30px rgba(0,0,0,.3);
  	text-align: center;
}

/* ---- Media Queries ---- */

@media (max-width: 768px) {
	.container {
	padding-top: 20em;
	}
}

@media (min-width: 769px) {
  
.wrap {
	min-height: calc(100vh - 89px);
}
  
.container {
	padding: 10em;
}	
	
.head-content,
.container {
    	width: 90%;
	max-width: 1150px;
    	margin: 0 auto;
}
  
  .name,
  .main-nav,
  .main-nav li {
    display: inline-block;
 }
  
  .name {}
  
  .col {    
		display: inline-block;
		width: 50%; 
		margin-right: -4px;
		vertical-align: top;
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media (min-width: 1025px) {
  
  
  .container {
    width: 80%;
    
  }
  
  .primary {
    width: 40%;
  }

  .secondary,
  .tertiary {
    width: 30%;
    
  }
  
  /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
  
}
